<a href="https://colab.research.google.com/github/BuczynskiRafal/BuczynskiRafal/blob/main/pandas/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Biblioteka Pandas, wprowadzenie

In [2]:
import pandas as pd
import numpy as np

pd.__version__
np.__version__

'1.21.6'

In [3]:
# Example 1
# Obiekt series składający się z 1 elementu ponizej 1 skalaru.
s = pd.Series(4)
print(s)

0    4
dtype: int64

In [4]:
#Example 2
# Utworzenie obiektu series z definicji
s2 = pd.Series(data=[1, 32, 25], index=['a', 'b', 'c'], name='value')
s2

a     1
b    32
c    25
Name: value, dtype: int64

In [5]:
# Example 3
# Generowanie przyladowych danych za pomocą numy
data_3 = np.random.rand(100)
# Powstaje tablica numpy (array) zawierająca wartości typu float
data_3

# Tworzenie obiektu series
s_3 = pd.Series(data=data_3)
s_3

0     0.072132
1     0.467245
2     0.081158
3     0.570088
4     0.106309
        ...
95    0.366718
96    0.392579
97    0.220232
98    0.275743
99    0.871683
Length: 100, dtype: float64

In [6]:
# Example 4
# Obiekt series ze slownika zawierajacy tylko str
data_4 = {'Apple':'USA', 'CD Projekct': 'Poland'}
s_4 = pd.Series(data=data_4)
s_4

Apple             USA
CD Projekct    Poland
dtype: object

In [13]:
# Example 5
data_5 = {'Apple':'USA', 'CD Projekct': 'Poland'}
s_5_series = pd.Series(data=data_5)
s_5_series

# przedstawienie jako tablica
s_5_array = s_5_series.values
s_5_array

# Wycinanie wartości
apple_price = s_5_series['Apple']

# sprawdzenie czy znajduje sie w obiekcie typu series
'Apple' in s_5_series

True

In [ ]:
# Example 6

# ustawienie ziarna losowego
np.random